
@{
    ViewBag.Title = "Privacy Policy";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<style>
    .card-body {
        padding: 15px;
        box-shadow: -1px 1px 2px 1px #d3c0c0;
        border-radius: 5px;
    }
</style>
<section class="inner-header divider parallax layer-overlay overlay-white-5" data-bg-img="/Content/images/bg/b1.jpg" style="background-image: url(&quot;/Content/images/bg/b1.jpg&quot;); background-position: 50% 63px;">
    <div class="container pt-40 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="title" id="hPageHeading">Privacy Policy</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="section-content">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 pull-left flip">
                    <div class="card-body">
                        <p style="font-size: 17px; font-family: Source Sans Pro, Arial, sans-serif;">
                            We understand the need for
                            protecting a user’s privacy. Therefore, we adhere to the highest standards of securing all transactions
                            and customer information privacy. Please read below about our data/information collection and sharing
                            practices.
                        </p>
                        <h3>Important Note:</h3>
                        <p>Our privacy policy is subject to change without any notice at the discretion of the management. Ensure you are aware of any changes by reviewing this policy periodically.</p>
                        <p>The Privacy Policy applies to you whether you are –</p>
                        <ul>A patient, his/hr relative or family member (“you” or “User”);</ul>
                        <ul>A user of the Website/Mobile Application (“you” or “User”); </ul>
                        <h3>Information about Chandan 24x7 App</h3>
                        <p>
                            This Privacy Policy governs how we, Chandan Hospital Ltd. a company duly incorporated under the provisions of the Companies Act, 2013, having its registered office at Biotech Park, Jankipuram, Kursi Road, Lucknow (collectively, ”Chandan Pharmacy Limited”,“Chandan Hospital Limited”, “Chandan”, “Company”, “we,” “us,” or “our”) collect, use, share and process your information, that you provide to us through your use of the app, Chandan 24X7 and website www.chandan24x7.com in the course of availing services that are made available on the said app and website (“Services”) as defined in the Terms and Conditions <a style="color:darkblue" href="https://chandanhospital.in/hospital/Home/privacy-policy" target="_blank">https://chandanhospital.in/hospital/Home/privacy-policy</a> to you.
                        </p>
                        <p>
                            Owner of Chandan Hospital website and Chandan 24x7 App (“Website” / “App” respectively), respects your privacy, and seeks to comply with applicable legal requirements, including the Information Technology Act, 2000, in respect of data collection, processing and transfer.
                        </p>
                        <p>Please read this Privacy Policy carefully. By accessing or using this Website/ App, you agree to be bound by the terms described herein and all the terms incorporated by reference. If you do not agree to all of these terms, do not use this Website/ App.</p>

                        <h3>Collection of Personal and Other Information</h3>
                        <p>When a User visits our website and carefully completes the form to provide information about his or her medical issues or to order medication, we save the data securely to offer a quick, easy, and customized experience.</p>
                        <p>
                            Profile picture capturing is not mendatory, it's totally depends on user, whethere
                            he/she want to capture picture or not. we don not use this image anywhere except
                            profile picture in the App..
                        </p>
                        <p>This Privacy Policy enables us to offer services and features that allow you to personalize the Website and have a safer, simpler experience. As a result, we gather whatever personal information we feel is essential.</p>
                        <p>In general, you can browse the website without telling us who you are or revealing any personal information about yourself.</p>
                        <p>Once you give us your personal information, you are not anonymous to us anymore. We will protect the data provided. Wherever applicable, we indicate which fields are required to be filled and which ones are optional. You always have the option to not provide information by choosing not to use a particular service or feature on the website.</p>
                        <p>We process your personal information for a number of legitimate interests, including providing you with services, administering our relationship with you, for marketing and service/product improvement purposes and in order to exercise our rights or handle claims.</p>
                        <p>We may automatically track certain information about you based upon User behavior. We use this information to do internal research on our Users’ demographics and interests to better understand, protect and serve our Users. This information is compiled and analyzed on an aggregate basis. We use data collection devices such as ‘cookies’ on certain pages of the Website to help analyze our web page flow, measure page effectiveness, and promote trust and safety.</p>
                        <p>”Cookies” are small files placed on your browser that assist us in providing our services. Moreover, you may encounter ”cookies” on certain pages of the website that are placed by third parties. We do not control the use of cookies by third parties. Cookies are useful for enabling the browser to remember information specific to a given user. We place both permanent and temporary cookies in your computer’s hard drive. The cookies do not contain any of your personally identifiable information.</p>
                        @*<p>In the course of a transaction, we collect some additional information, such as a billing address and/or other payment instrument details and tracking data from checks or money orders. We may compile information about you into a file if you send us details of personal correspondence, such as emails or letters, or if other users or third parties send us correspondence concerning your actions or postings on the website.</p>*@
                        <p>We use your personal information to send you marketing by post, telephone, social media platforms, email, SMS, application notifications and silent notifications to track installation status of the application. We may also use your personal information to carry out online paid marketing activities in the nature of retargeting.</p>
                        <p>We also use technology to help us understand your personal preferences and interests so that we can send recommendations and marketing communications that are likely to be of more interest to you. Using technology in this way is sometimes known as profiling.</p>
                        <p>If you wish to unsubscribe from emails sent by us, you can do so at any time by clicking on the “unsubscribe” link that appears in all emails and by adjusting the settings on your device to turn off notifications from our app. Otherwise, you can always contact us at care@chandanhospital.in  to update your contact preferences. </p>
                        <h3>Sharing your information</h3>
                        <p>We share your information within Chandan 24x7App group and with other third party suppliers who help deliver products or services on our behalf, or who have partnered with us in connection with services or a relevant promotional offering, as well as other apps or websites that integrate with our API or services, or those with an API or service with which we integrate. We also share your information with third parties where we have a duty to or are permitted to disclose your personal information by law (e.g. law enforcement officials, government authorities, etc.) in accordance with the law. </p>
                        <h3>Retention Period</h3>
                        <p>We retain your personal information in accordance with Chandan 24x7App’s records retention policies or any retention periods prescribed by law or recommended by regulators, industry bodies or associations. However, there may be circumstances that mean we must retain your personal information for longer</p>
                        <h3>Your Consent or User Consent</h3>
                        <p>By using the website and/ or by providing your information, you are giving consent to the collection and use of the information you disclose on the website by our Privacy Policy, including but not limited to your consent for sharing your information as per this privacy policy.</p>
                        <p>If we decide to change our privacy policy, we will post those changes on this page so that you are always aware of what information we collect, how we use it, and under what circumstances we disclose it.</p>
                        <h3>Prominent Disclosure for App</h3>
                        <p>Chandan 24x7App app needs certain permissions to upload prescriptions. This will help us to serve you better. Please allow access for following permissions</p>
                        <h3>Camera, Audio and Video</h3>
                        <ol>
                            <li>To Do audio and video Consultation with our expert doctors</li>
                            <li>To upload required documents while booking lab tests</li>
                            <li>To upload prescriptions for order medicines </li>
                        </ol>
                        <h3>Location</h3>
                        <ol>
                            <li>To show doctors near your location</li>
                            <li>To show Chandan 24x7App near you</li>
                            <li>To show Nearby hospital with bed availability.</li>
                        </ol>
                        <h3>Files and media</h3>
                        <ol>
                            <li>To upload records from gallery</li>
                            <li>To view your vaccination and test records</li>
                            <li>We are capturing photos in the user profile section, which is not mandatory. it's a user's choice whether he/she can upload or not.</li>
                            <li>To view your doctor’s prescriptions</li>
                        </ol>
                        <h3>Storage</h3>
                        <ol>
                            <li>To store/access your prescription/ invoices/ test records in your phone</li>
                        </ol>
                        <h3>Phone , Microphone</h3>
                        <ol>
                            <li>To call our health expert and connect with our expert doctors</li>
                        </ol>
                        <h3>Address</h3>
                        <ol>
                            <li>We are using the address to send Medicine.</li>
                            <li>
                                Other information are required for the observation of the medical Health.
                            </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


