<div class="content-wrapper">
    <form id="form1" runat="server">
        <div id="mydiv" class="loader" style="display: none">
            <img src="../images/loading7_blue.gif" width="70" height="70" class="ajax-loader" alt="loading" />
        </div>
        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </div>
    </form>
</div>
<footer class="main-footer">
    <div class="pull-right hidden-xs">
    </div>
   <strong>Copyright &copy;Chandan Hospital Limited.</strong>
</footer>
