<div class="wrapper">
    <header class="main-header">
        <a href="../index.html" class="logo">
            <span class="logo-mini"><b>C</b>HL</span>
            <span class="logo-lg">
                <img src="~/AdminContent/images/logo-wide-white.png" class="img-responsive" style="width:148px; margin-left:23px; margin-top:5px;"/>
            </span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only"></span>
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav" style="padding-right:10px;">
                    <li class="dropdown user user-menu">
                        <a style="font-size: 21px;" href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span>Admin<span class="caret"></span></span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                <div style="float: none; display: inline-grid;">
                                    @*<%-- <a style="width: 140px" href="ChangePassword.aspx" class="btn btn-default btn-flat">Change Password</a><br />--%>*@
                                    <a style="width: 140px" href="#" onclick="AdminLogout()" class="btn btn-default btn-flat">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    
</div>
