
@{
	ViewBag.Title = "Best Cancer Hospital in Lucknow | Neurology Hospital in Lucknow";
	Layout = "~/Views/Shared/_layout.cshtml";
}
@section metatags{
	<meta name="keywords" content="Chandan hospital in lucknow gomti nagar, multispeciality hospitals in lucknow, best diagnostic centre in lucknow, urology doctor in lucknow." />
	<meta name="description" content="Chandan hospital in lucknow gomti nagar, Cancer hospital in lucknow, best diagnostic centre in lucknow, Neurology Hospital in lucknow" />
}
<section class="inner-header divider parallax layer-overlay overlay-white-5" data-bg-img="/Content/images/bg/b1.jpg" style="background-image: url(&quot;/Content/images/bg/b1.jpg&quot;); background-position: 50% 63px;">
	<div class="container pt-40 pb-20">
		<!-- Section Content -->
		<div class="section-content">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2 class="title" id="hPageHeading">Chandan Group</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="section-content">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 pull-left flip">
					<form method="post" action="./about-chandan-group" id="form1">
						<div class="aspNetHidden">
							<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="0ElVdztyrbQ3lWUGVGhAaLjyUGCIwmdL59q0wbP03oFLFrI3GlVM9a1+ieTOTCWMqKlXmZvgXRiZqJNN8XhhZcllKT6A0HcQWB0fqD3LJT0=">
						</div>

						<div class="aspNetHidden">

							<input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="B5F34B5F">
						</div>
						<div id="mydiv" class="loader" style="display: none">
							<img src="images/Loading%20new.gif" class="ajax-loader" alt="loading">

						</div>
						<div>
							<p class="lead">Chandan group is one of the oldest organization serving people of Uttar Pradesh, Uttarakhand, and Delhi since 1991. It is crossing new boundaries and scaling greater heights in the field of Healthcare. It is one of the most diversified healthcare groups in the field of Diagnostic, Retail Pharmacy and Hospital.</p>
							<p class="lead">Chandan is proud to serve over 2.5 million patients every year. Chandan has already served more than 30 Million patients. Chandan has about 1 million loyal customers who have Chandan Health Cards and are taking regular services from more than 50 different locations in Uttar Pradesh, Uttarakhand, and Delhi.</p>
							<div class="row">
								<div class="col-xs-12 col-sm-12 col-md-12 pull-left flip">
									<div class="row">
										<div class="col-md-12">
											<h2>Presence of Chandan Group</h2>
											<p>
												<img src="/Content/images/Presence.png" class="img-responsive">
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
