
@{
    ViewBag.Title = "Best Neurologist in Lucknow | Brain Tumor Treatment in Lucknow";
    Layout = "~/Views/Shared/_layout.cshtml";
}
@section metatags{
    <meta name="keywords" content="Chandan hospital has best neurologist and provide best treatment. They also provide Best brain tumor treatment in lucknow" />
    <meta name="description" content="Chandan hospital has best neurologist and provide best treatment. They also provide Best brain tumor treatment in lucknow" />
}
<script>
    $(function () {
        SetSlidHeading("From the Desk of Chairman");
    });
</script>
<style>
    .amarsingh {
        box-shadow: -50px -50px 0 -40px #1fa9b0, 50px 50px 0 -40px #1fa9b0;
        width: 100%;
        border-radius: 6px;
        border: 1px double #ffffff;
        background: #f3f3f3;
    }
</style>
<section class="inner-header divider parallax layer-overlay overlay-white-5" style="background-image: url(&quot;/Content/images/bg/b1.jpg&quot;), url(&quot;../Content/images/bg/b1.jpg&quot;); background-position: 50% 69px;">
    <div class="container pt-40 pb-20">
        <!-- Section Content -->
        <div class="section-content">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h2 class="title" id="hPageHeading">From the Desk of Chairman</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="section-content" id="print">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 pull-left flip">
                    <div class="row">
                        <div class="col-md-4 col-xs-12">
                            <p class="text-center">
                                <img src="~/Content/images/chairman.jpeg" alt="Chairman" class="amarsingh respons" style="margin-right: 20px" />
                            </p>
                        </div>
                        <div class="col-md-8">
                            <p class="lead">
                                Chandan Hospital, a leading multi-super specialty hospital in Lucknow, committed to providing comprehensive and high-quality healthcare services. Our facility is equipped with state-of-the-art technology, and our team of highly skilled medical professionals is dedicated to delivering exceptional patient care.
                            </p>
                            <p>
                                Here is an overview of the services and features that distinguish us:
                            </p>
                            <p>
                                <ul>
                                    <li><b>1. Advanced Medical Infrastructure: </b>Our hospital boasts modern infrastructure and cutting-edge medical equipment to ensure accurate diagnoses and effective treatments. From fully equipped operation theaters to advanced imaging and diagnostic facilities, we have everything needed to deliver top-notch medical care.</li>
                                    <li><b>2.	Expert Team of Specialists:</b> We take pride in having a team of renowned specialists from various medical disciplines. Our doctors, surgeons, and healthcare professionals are experts in their respective fields, possessing extensive experience and a deep commitment to patient well-being.</li>
                                    <li><b>3. Comprehensive Specialty Departments:</b> We offer a wide range of specialties and super specialties to cater to the diverse healthcare needs of our patients. Our departments include Cardiology, Neurology, Orthopaedics</li>
                                </ul>
                            </p>
                        </div>
                        <div class="col-md-12">
                            <p>
                                <ul>
                                    <li>Oncology, Gastroenterology, Urology, Nephrology, Paediatrics, Ophthalmology, Psychiatry and Psychology, ENT, Respiratory and Sleep Lab, Rheumatology, Spine, Haemato-oncology, Physiotherapy, and more. Each department is equipped with advanced facilities and staffed by highly skilled specialists.</li>
                                    <li><b>4. Advanced Surgical Procedures:</b> We specialize in performing complex surgical procedures using minimally invasive techniques whenever possible. These techniques result in smaller incisions, reduced pain, faster recovery, and minimal scarring for our patients. Our surgical departments cover a broad spectrum of procedures, including cardiac surgeries, neurosurgeries, joint replacements, laparoscopic surgeries, and more.</li>
                                    <li><b>5. Robotic Surgery: </b>We are proud to introduce Robotic Surgery, a groundbreaking technology in Lucknow. We perform complex surgeries for cancer and kidney transplants using robotic-assisted techniques, offering patients advanced surgical options.</li>
                                    <li><b>6. 24/7 Emergency and Trauma Care:</b> Our hospital features a dedicated Emergency Department that operates round the clock, providing immediate medical attention to patients in critical conditions. Our team of emergency medicine specialists is well-trained to handle all types of emergencies and trauma cases, ensuring timely and effective treatment.</li>
                                    <li><b>7.Personalized Patient Care: </b>We prioritize the well-being and comfort of our patients. From the moment you step into our hospital, our compassionate staff provides personalized care and support, ensuring your experience is as comfortable as possible. We believe in clear communication, active patient involvement, and creating a positive healing environment.</li>
                                    <li><b>8.Support Services and Facilities: </b>To enhance the overall patient experience, we offer a range of support services and facilities. These include dedicated inpatient rooms, a fully equipped pharmacy, round-the-clock laboratory services, advanced radiology services, blood bank facilities, and a well-stocked cafeteria offering nutritious meals.</li>
                                    <li><b>9. Health Check-up Packages:</b> We promote preventive healthcare and provide comprehensive health check-up packages tailored to individual needs. These packages include a series of diagnostic tests and consultations to assess overall health and detect any potential health risks early on.</li>
                                    <li><b>10. Research and Innovation:</b> We are dedicated to advancing medical knowledge and improving patient care through research and innovation. Our hospital actively participates in clinical trials, collaborates with leading research institutions, and implements the latest medical advancements to ensure our patients receive the best possible treatments.</li>
                                    <li><b>11. DNB Courses:</b> We have introduced DNB courses in eight departments to foster an academic culture within the hospital, contributing to the development of future medical professionals.</li>
                                    <li><b>12. Community Outreach:</b> Giving back to society is an integral part of our mission. We actively engage in community outreach programs, creating awareness about various health issues, organizing medical camps in underserved areas, and providing healthcare services to those in need.</li>
                                    <li>At Chandan Hospital, we strive to be the healthcare provider of choice in the region, delivering excellence in medical care with compassion and integrity. Your well-being is our top priority, and we are dedicated to serving you and your loved ones with the highest standards of healthcare.</li>
                                    <li><b>Thank you for choosing Chandan Hospital.</b></li>
                                </ul>
                            </p>
                            <p class="lead">Warm regards,</p>
                            <blockquote class="text-primary">
                                <p>Dr. Amar Singh</p>
                                <footer class="text-primary">
                                    <cite title="Source Title">Chairman & Managing Director</cite> <br>
                                    <cite title="Source Title">Chandan Hospital Limited</cite>
                                </footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

