
@{
	ViewBag.Title = "Best Neurologist in Lucknow | Brain Tumor Treatment in Lucknow";
	Layout = "~/Views/Shared/_layout.cshtml";
}
@section metatags{
	<meta name="keywords" content="Chandan hospital has best neurologist and provide best treatment. They also provide Best brain tumor treatment in lucknow" />
	<meta name="description" content="Chandan hospital has best neurologist and provide best treatment. They also provide Best brain tumor treatment in lucknow" />
}
<script>
	$(function () {
		SetSlidHeading("From the Desk of Chairman");
	});
</script>
<style>
	.amarsingh {
		height: 255px;
		border-radius: 10px;
		border: 2px double #d5d5d5;
		margin-right: 20px;
		padding: 7px;
		background: #f3f3f3;
	}
</style>
<section class="inner-header divider parallax layer-overlay overlay-white-5" style="background-image: url(&quot;/Content/images/bg/b1.jpg&quot;), url(&quot;../Content/images/bg/b1.jpg&quot;); background-position: 50% 69px;">
	<div class="container pt-40 pb-20">
		<!-- Section Content -->
		<div class="section-content">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2 class="title" id="hPageHeading">From the Desk of Chairman</h2>
				</div>
			</div>
		</div>
	</div>
</section>
<section>
	<div class="container">
		<div class="section-content" id="print">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 pull-left flip">
					<div class="row">
						<div class="col-md-3 col-xs-12">
							<p class="text-center">
								<img src="~/Content/images/amarsingh.jpeg" alt="Chairman" class="amarsingh respons" style="margin-right: 20px" />
							</p>
						</div>
						<div class="col-md-9">
                            <p class="lead">
                                I am thrilled to present the outstanding accomplishments of the Chandan group as we continuously push boundaries and strive for excellence. Let me introduce our highly diversified healthcare group, which includes Diagnostic Services, Retail Pharmacy, Hospitals, and Medical Education, now joined by Cendana Pharmaceuticals.
                            </p>
                            <p>
                                Since our establishment, the Chandan group has provided healthcare services to over 50 million patients and continues to serve more than 3 million patients annually. The number of users on the Chandan App has exceeded 175,000 and continues to grow exponentially each day.
                            </p>
                            <p>
                                Under Chandan Healthcare Limited, our chain of Diagnostic Centers called Chandan Diagnostic Centre, located in Uttar Pradesh and Uttarakhand, offers comprehensive diagnostic services under one roof, covering Radiology, Pathology, Cardiology, Respiratory, Gastroenterology, and Neurology.
                            </p>                                                      
						</div>
                        <div class="col-md-12">
                            <p class="lead">
                                We take pride in having 12 NABL Accredited laboratories situated in various locations in Uttar Pradesh and Uttarakhand. Furthermore, our central referral lab, Chandan Specialty Lab, located at Biotechnology Park, Lucknow, is the first of its kind in Uttar Pradesh. Equipped with state-of-the-art technology and a wealth of expertise, it positions Chandan as a leading provider of pathology lab services, serving northern India for special tests through its referral centres.
                            </p>
                            <p class="lead">
                                Through the National Health Mission and the State Government Health Services (SGHS), Chandan offers free diagnostic services to the entire population of Uttarakhand, including government employees, under PPP models. These services are provided through District Hospitals, Community Health Centres, and Primary Health Centres, benefiting all segments of Uttarakhand's population.
                            </p>
                            <p class="lead">
                                Chandan Pharmacy Limited has established a chain of Retail Pharmacies in Uttar Pradesh, Uttarakhand, and Delhi, along with wholesale distribution to our retail outlets and hospitals.
                            </p>
                            <p class="lead">
                                Operating in Lucknow, Chandan Hospital Limited is a 300-bed tertiary care Multi-Super-specialty Hospital that has quickly gained recognition as one of the leading hospitals in the region since its inauguration on October 1st, 2018. With 40 specialities and super-specialities under one roof, we are expanding our bed capacity to 500 and will establish a state-of-the-art cancer center in 2023.
                            </p>
                            <p>
                                Under the banner of Chandan Dayal Institute of Medical Sciences, we are currently constructing a 1000-bed Multi-Super-specialty Teaching Hospital and Medical College in Lucknow. We have already acquired 11 acres of land for the project, and construction is underway. The hospital is scheduled to commence operations by 2026, followed by the Medical Education Institute in the same premises in 2028.
                            </p>
                            <p class="lead">
                                Throughout the year, Chandan has achieved numerous milestones, solidifying its position as one of the fastest-growing healthcare service providers in Northern India. Our unique business model, integrating diagnostic services and retail pharmacy in the same premises, will continue to expand into different parts of Uttar Pradesh and Uttarakhand.
                            </p>
                            <p class="lead">
                                We have implemented robust quality control processes that govern all aspects of healthcare delivery across our entire group.
                            </p>
                            <p>
                                Recognizing the annual growth rate of 15% in the healthcare industry in India, we acknowledge the need for a minimum growth rate of 25% to meet our country's healthcare requirements and address the existing service gap. With our expansion plans in hospitals, Pharmaceuticals, retail pharmacy stores, and diagnostic services, we are confident that we will make significant contributions to the healthcare system.
                            </p>
                            <p>
                                The true strength of our company lies in our people, who are our most valuable assets. We have complete faith in their performance, integrity, and adherence to our system of values, standards, and quality. These attributes will establish Chandan as one of the most respected groups in the healthcare industry.
                            </p>
                            <p class="lead">
                                Finally, I would like to express my heartfelt gratitude to all our Doctors, Customers, Suppliers, Bankers, Employees, and Shareholders who have shown their unwavering support and constant encouragement.
                            </p>
                            <p class="lead">Warm regards,</p>
                            <blockquote class="text-primary">
                                <p>Dr. Amar Singh</p>
                                <footer class="text-primary">
                                    <cite title="Source Title">Chairman & Managing Director</cite> <br>
                                    <cite title="Source Title">Chandan Group of Companies</cite>
                                    <br>
                                    <cite title="Source Title">chairman@chandan.co.in</cite>
                                </footer>
                            </blockquote>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

