
@{
	ViewBag.Title = "Best Multispeciality Hospital in lucknow | Best ICU facility in Lucknow";
	Layout = "~/Views/Shared/_layout.cshtml";
}
@section metatags{
	<meta name="keywords" content="Chandan Hospital is Best IVF Hospital in Lucknow UP, India which offers Test Tube Baby, Infertility Treatment services by best Gynaecologist at affordable price." />
	<meta name="description" content="Chandan Hospital is Best Multispeciality Hospital in Lucknow UP, India. Best ICU facility in Lucknow" />
}
<style>
	#accrImg img {
		width: 100%;
		height: 100px;
		border-radius: 6px;
		margin: 5px;
	}

	#accrImg {
		border: 1px solid #dddddd;
		background: #e0e3e5;
		padding: 5px 0px;
	}

	#AccrDoc img {
		border-radius: 3px;
		border: 4px double #0ab1b9;
	}
</style>
<section class="inner-header divider parallax layer-overlay overlay-white-5" style="background-image: url(&quot;/Content/images/bg/b1.jpg&quot;), url(&quot;../Content/images/bg/b1.jpg&quot;); background-position: 50% 69px;">
	<div class="container pt-40 pb-20">
		<!-- Section Content -->
		<div class="section-content">
			<div class="row">
				<div class="col-md-12 text-center">
					<h2 class="title" id="hPageHeading">Quality</h2>

				</div>
			</div>
		</div>
	</div>
</section>

<section>
	<div class="container">
		<div class="section-content" id="print">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-md-12 pull-left flip">
					<div class="row" id="accrImg">
						<div class="col-xs-6 col-sm-6 col-md-2 hidden-xs pull-left flip">
						</div>
						<div class="col-xs-6 col-sm-6 col-md-2 pull-left flip">
							<img src="~/Content/images/NABH LOGO HOSPITAL.jpg" />
						</div>
						<div class="col-xs-6 col-sm-6 col-md-2 pull-left flip">
							<img src="~/Content/images/NABL HOSPITAL.jpg" />
						</div>
						<div class="col-xs-6 col-sm-6 col-md-2 pull-left flip">
							<img src="~/Content/images/QAI Accreditation Mark.jpg" />
						</div>
						<div class="col-xs-6 col-sm-6 col-md-2 pull-left flip">
							<img src="~/Content/images/QCI.jpg" />
						</div>
						<div class="col-xs-6 col-sm-6 col-md-2 hidden-xs pull-left flip">
						</div>
					</div>
					<p class="lead">Chandan Hospital defines quality as a comprehensive look at all aspects of a patient's experience. We are constantly working to deliver high quality, compassionate care at affordable rates. Hospital is built up and run as per the NABH, NBC, CEA, AERB, CDC, PCB and all related guidelines to provide a safe and secure environment for patients, their family members and staff members.</p>
					<p class="lead">Patient care is ensured by well qualified and experienced team of doctors, nursing and paramedical staff. Chandan’s model of care is defined by teamwork, with a group of experts focusing their expertise on one patient at a time. Chandan has been awarded with “Best Multispeciality Hospital of the Year (Uttar Pradesh)”. The high-quality rankings reinforce Chandan’s commitment to patient care. </p>
					<p class="lead">The goal of Chandan Hospital is to provide medical resources of high quality to all who need them, to ensure good quality of life, to cure illnesses when possible and to extend life expectancy. We are committed to delivering world-class health care by creating institutes of excellence within the hospital in order to provide utmost care. The first step in the direction of implementing quality management in healthcare is to make the processes patient-oriented. As patients' requirements and expectations vary over time, quality management has to keep upgrading itself to keep up with the changing needs and demands. There are various tools or indicators which are in place at the hospital to assess the quality of services we provide to patients without any acquired infection.</p>
					<p class="lead">Chandan medical team consists of eminent doctors and technical staff, which include some of the best in the industry. Trained and dedicated professionals with ready access to state-of-the-art infrastructure, render high-quality medical care.</p>
				</div>
			</div>
		</div>
	</div>
</section>

